/* TransactionHistory.module.css */

.transaction-history {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 1px; 
  }
  
  .transaction-history thead th,
  .transaction-history tbody td {
    border: 1px solid #ddd; 
    padding: 5px; 
    text-align: center; 
    font-size: 40px;
  }
  
  .transaction-history th {
    background-color: #F08080; 
  }
  